/* General */
body {
    font-family: Arial, sans-serif;
    background: #EBF3D4;
    color: #003300;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #6B882E;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header h2{
    margin-left: 30px;
}

/* Contenedor principal */
.container {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Asegurar alineación vertical */
    width: 65%;
    /* Ajustado para más espacio */
    max-width: 900px;
    /* Un poco más ancho */
    background: #F6FAEB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* Aumento para mejor separación */
    gap: 20px;
}

/* Caja de información */
.info-box {
    background-color: #EBF3D4;
    width: 100%;
    padding: 16px;
    /* Mayor padding para mejor legibilidad */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    /* Espaciado entre líneas */
}

/* Columna derecha */
.right-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btnvol {
    margin-right: 30px;
    margin-left: auto;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 10px;
    background: white;
    border: 3px solid #688828;
    color: #688828;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btnvol:hover {
    background: #d4d3d3;
    border-color: #506823;
    color: #506823;
}