body {
    font-family: Arial, sans-serif;
    background: #EBF3D4;
    color: #003300;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.header {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    background: #6B882E;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin-left: 30px;
}
p{
    font-size: 20px;
}
/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
    max-width: 1200px;
    background: #F6FAEB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    gap: 20px;
}

/* Columna Izquierda */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #EBF3D4;
    border-radius: 10px;
}

/* Columna Derecha */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #EBF3D4;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mt-4 .btn {
    margin-left: 30%;
    margin-top: 5px;
    width: 40%;
    text-align: center;
    padding: 10px;
    background: white;
    border: 3px solid #688828;
    color: #688828;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;

}

.mt-4 .btn:hover {

    background: #d4d3d3;
    border-color: #506823;
    color: #506823;

}

.btnvol {
    margin-right: 30px;
    margin-left: auto;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 10px;
    background: white;
    border: 3px solid #688828;
    color: #688828;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btnvol:hover {
    background: #d4d3d3;
    border-color: #506823;
    color: #506823;
}