body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #80B155, #8DBC55, #C3E956, #14532D);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(70deg, #14532D, #32B225, #14532D);
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.container {
  text-align: center;
  margin: #FFFDEE 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #fff;
}

.login-box {
  background: linear-gradient(to bottom, #32B225, #14532D);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

form h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 10px;
  background-color: #FFFDEE;
  color: #336A29;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #8DBC55;
}
